SPRING_PROFILES_ACTIVE=docker
DB_HOST=localhost
DB_PORT=5432
DB_NAME=payment
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_LIQUIBASE_USERNAME=postgres
DB_LIQUIBASE_PASSWORD=postgres
KAFKA_HOST=localhost
KAFKA_PORT=9092
JWT_SECRET=B7lNty52nURS1lCg6KjEvPh6e71c/ndOh1H4mCMRMgo=
JWT_EXPIRATION_MS=3600000

EXPOSE_OPENAPI=true
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3999
MAX_RECHARGE_AMOUNT=1000000
